

/* @media screen and (max-width:350px){

    body{ */
        /* border: 2px solid #000000; */
        /* margin: 10vh 10vw 0px 5vw;  
    }
    main{
        width:90vw;
    }
    .heading1{
        
        margin-right: 0px;

        font-size: 18px;
        
    
    }
    .heading2{
        margin-top: 40px;
        font-family: 'Varela Round', sans-serif;
        font-size: 16px;
          
    }
    .img2{
        margin-top: 40px;
    }
         
    .img4{
        margin-top: 50px;
    }
    
    .img5{
        margin-top: 0px;
    } 
    
    .img6{
        margin-top: 50px;
        
    }
    .img-sec{
        width: 120px;
        height: 170px;
    }
    .designation{
        font-family: 'Varela Round', sans-serif;
        margin-left: 2px;
        font-size: 10px;
    }
    .name{
        font-weight: bold;
        font-size: 15px;
        margin-top: 10px;
        
    }
    
} */



